body {
  background-color:#191919 !important;
}
#page { width: 100% !important;}

#main-wrapper {
  padding: 140px 0!important;
    background:url('../images/bg.jpg') repeat-x;

}
#content .section {
  position: relative;
  width: 300px;
  margin: 0 auto !important;
  padding: 30px 46px 30px 325px !important;
  border:5px solid #54AEF2 !important;
  border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 10px 15px 40px;
  background:url('../images/logo.png') 40px 45% no-repeat;
  min-height:160px !important;
}


#page-title {
  display:none
}

ul.primary {
  position:absolute;
  bottom:22px !important;
  top:auto !important;
  right:30px !important;
}

ul.primary li { width: auto !important; }
ul.primary li.active {
  display:none;
}
ul.primary li a {
  background:#FFFFFF !important;
  background-image:none !important;
  border:none !important;
  text-decoration:none;
  font-size:16px !important;
}

.fieldset-legend, .form-item label {
  line-height:21px;
}
.description {
  display:none
}

#edit-name, #edit-pass {
  width: 300px;
  height:42px;
  font-size:32px !important;
}
#edit-pass { font-family:Arial, Helvetica, sans-serif !important;}

/* error message */
.messages {
  height:0;
  position:relative;
  top:170px;
  width:300px;
  margin:0 auto !important;
  padding:0 10px 0 325px !important;
  font-size:14px;
  z-index:20;
  text-align:right;
}
.messages:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

div.error {
  background: none;
  border:none;
  color:#FF0000;
}
div.status {
  background: none;
  border:none;
  color:#4c9800;
}
.messages ul {
  display:inline-block;
  list-style:none;
  padding:0 !important;
  margin: 0 !important;
}
.messages ul li {
  display:inline-block;
  padding-left:5px;
}
.messages a {
  display: none;
}
.form-text { border: 2px solid #EFEFEF !important;}
.form-text:hover {border: 2px solid #9acff7 !important;}

.form-item input.error, .form-item textarea.error, .form-item select.error { border:2px solid red !important;}

#user-pass-reset p {margin-bottom: 20px; line-height:21px;}
#user-pass-reset em { font-style:normal; font-family: 'Melbourne_bold' Arial, Helvetica, sans-serif; color:#2F83CB}

#edit-submit{
  height:36px !important;
  line-height:36px !important;
  font-size:24px !important;
  width:auto !important;
  overflow:visible !important;
  padding: 0 30px !important;
}

.form-type-textfield { margin-top:0 !important; }
#user-login, #user-pass { padding-top:20px;}

#footer {padding-top:25px !important; width:auto !important; color:#454545 !important; background-image: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#000000), to(#191919));
  background-image: -moz-linear-gradient(center top, #000000 0%, #191919 20%); text-shadow:#000000 -1px -1px !important;}
#footer a { color: #454545 !important;}
#footer .wismaLogo {background:url('http://mars.waveo.com/mapp/wisma/direct/logo.png') 0 0 no-repeat !important;}